<section id="msu-footer-section" class="msu-footer">
<div class="container">
<div class="row">


	<div class="col-12 col-md-3">
    <div class="msu-footer-logo">
    <a href="http://www.msu.edu">
    <!-- If using a light background change the img src to images/msu-wordmark-green-221x47.png-->
    <img class="print-msuwordmark d-none d-print-block invisible" alt="Michigan State University Wordmark" src="{{ base_path ~ directory }}/images/msu-wordmark-black.png"/>
  </a>
</div>
	</div>

	<div class="col-12 col-md-9">
				<ul>
						<li class="">
		<a href="{{ contact_url }}" target="">Contact Information</a>

								<span>|</span>
						</li>
						<li class="">
		<a href="{{ sitemap_url }}" target="">Site Map</a>

								<span>|</span>
						</li>
						<li class="">
		<a href="{{ privacy_policy_url }}" target="">Privacy Statement</a>

								<span>|</span>
						</li>
						<li class="">
		<a href="{{ site_accessibility_url }}" target="">Site Accessibility</a>

						</li>
				</ul>
				<ul>
						<li class="small-text">
Call MSU: 		<a href="tel:5173551855" target="">(517) 355-1855</a>

								<span>|</span>
						</li>
						<li class="small-text">
Visit: 		<a href="https://msu.edu/" target="_blank">msu.edu</a>

								<span>|</span>
						</li>
						<li class="small-text">
MSU is an affirmative-action, equal-opportunity employer.
								<span>|</span>
						</li>
						<li class="bold-text small-text">
		<a href="{{ titleix_url }}" target="">Notice of Nondiscrimination</a>

						</li>
				</ul>
				<ul>
						<li class="bold-text small-text">
SPARTANS WILL.
								<span>|</span>
						</li>
						<li class="small-text">
© Michigan State University
						</li>
				</ul>
	</div>
</div>
</div>
</section>