<div class="footer-center">
<div class="container">
   <div class="row">
      {% if page.footer_first %}
        <div class="footer-first col-lg-{{ footer_first_size }} col-md-{{ footer_first_size }} col column">
          {{ page.footer_first }}
        </div>
      {% endif %}

      {% if page.footer_second %}
       <div class="footer-second col-lg-{{ footer_second_size }} col-md-{{ footer_second_size }} col column">
          {{ page.footer_second }}
        </div>
      {% endif %}

      {% if page.footer_third %}
        <div class="footer-third col-lg-{{ footer_third_size }} col-md-{{ footer_third_size }} col column">
          {{ page.footer_third }}
        </div>
      {% endif %}

      {% if page.footer_four %}
         <div class="footer-four col-lg-{{ footer_four_size }} col-md-{{ footer_four_size }} col column">
          {{ page.footer_four }}
        </div>
      {% endif %}
   </div>
</div>
</div>